@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
	/*========== Font and typography ==========*/
	--body-font: "Montserrat", sans-serif;
	/*========== Font weight ==========*/
	--font-regular: 400;
	--font-medium: 500;
	--font-bold: 700;

	/* 1rem = 16px*/
	/* Desktop */
	--h1-font-size: 1.625rem;
	--h2-font-size: 1.375rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: 1rem;

	--h1-line-height: 2.437rem;
	--h2-line-height: 2.062rem;
	--h3-line-height: 1.687rem;
	--normal-line-height: 1.5rem;

	/* 1rem = 16px*/
	/* Mobile */
	--h1-font-size-mobile: 1.5rem;
	--h2-font-size-mobile: 1.25rem;
	--h3-font-size-mobile: 1rem;
	--normal-font-size-mobile: 0.875rem;

	--h1-line-height-mobile: 2.25rem;
	--h2-line-height-mobile: 1.875rem;
	--h3-line-height-mobile: 1.5rem;
	--normal-line-height-mobile: 1.312rem;
}

/*==================== BASE ====================*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background: #f4f4f4;
	padding: 0px 20px;
}
ul,
ol {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
}
img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
hr {
	background-color: #d9d9d9;
	margin-bottom: 1.875rem;
}
/*==================== BASE ====================*/
/*============= CHANGE BUTTON & INPUT============== */
.btn:hover {
	color: #fff;
	background: #2c1a9a;
}
.btn:active {
	color: #fff;
	background: #1f1368;
}
.btn-cansel:hover {
	background: #ffffff;
	color: #2c1a9a;
}
.btn-cansel:active {
	color: #1f1368;
}

input::placeholder {
	color: #d9d9d9;
}

input:focus {
	border-color: rgba(57, 34, 197, 1);
}
.accordion-button.collapsed {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
	color: #0c0c0c;
}
.accordion-button {
	background: #ffffff !important;
	font-weight: var(--font-medium);
	font-size: 1.375rem;
	line-height: 2.0625rem;
	color: #3922c5;
}
/*============= CHANGE BUTTON & INPUT============== */
.wrapper img {
	display: flex;
	align-items: center;
	text-align: center;
	margin-right: 0px;
	margin-bottom: 20px;
}
.bike {
	background-color: #fff;
}
.bike-title {
	font-style: normal;
	font-weight: var(--font-bold);
	font-size: var(--h1-font-size-mobile);
	line-height: var(--h1-line-height-mobile);
	color: #0c0c0c;
	margin-top: 0;
	margin-bottom: 1.25rem;
}
.bike-info {
	font-style: normal;
	font-weight: var(--font-regular);
	font-size: var(--normal-font-size-mobile);
	line-height: var(--normal-line-height-mobile);
	color: #494949;
	margin-bottom: 0.9375rem;
}
.bike-info:last-child {
	margin-bottom: 1.875rem;
}
.bike-characteristics__title {
	font-style: normal;
	font-weight: var(--font-medium);
	font-size: var(--h3-font-size-mobile);
	line-height: var(--h3-line-height-mobile);
	color: #0c0c0c;
	margin-bottom: 0.937rem;
}
.characteristics-list__item-woman-bike {
	display: flex;
}
.characteristics-list__item-woman-bike img {
	margin-right: 0.625rem;
}
.characteristics-list__item {
	font-style: normal;
	font-weight: var(--font-regular);
	font-size: var(--normal-font-size-mobile);
	line-height: var(--normal-line-height-mobile);
	color: #494949;
	margin-bottom: 0.937rem;
	margin-left: 1rem;
}
.input {
	width: 100%;
	background: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 16px;
	padding: 14px 16px;
	margin-bottom: 0.937rem;
	outline: none;

	font-style: normal;
	font-weight: var(--font-regular);
	font-size: 1rem;
	line-height: 1.5rem;
	color: #0c0c0c;
}
.btn {
	background: #3922c5;
	border-radius: 16px;
	color: #fff;
	padding: 14px 24px;
	gap: 10px;
}

.btn-add {
	width: 100%;
	margin-bottom: 1.875rem;
}
.buttons-block {
	display: flex;
	justify-content: center;
	background: #ffffff;
	box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
	border-radius: 20px;
	padding: 30px 20px;
}
.btn-ok {
	margin-right: 0.937rem;
}
.btn-cansel {
	color: #0c0c0c;
	border: none;
	background-color: #fff;
}
